<div class="container">
  <div><img style="width: 250px; height: 300px;" src="{{image}}" alt="{{name}}"></div>
  <div>
    <ul>
      <li>Name: {{name}}</li>
      <li>Mana Cost: {{manaCost}}</li>
      <li>Type: {{type}}</li>
      <li>Abilities: {{textBox.abilities}}</li>
      <li>Flavor Text: {{textBox.flavorText}}</li>
    </ul>
  </div>
</div>